In [4]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv("housing.csv")

In [20]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [21]:
#What is your version of pandas
pd.__version__

'1.4.4'

In [27]:
#how many columns are in the dataset-> There are 10 columns
df.shape

(20640, 10)

In [23]:
#Which columns in the dataset have missing values-> Total bedrooms
df.isnull().any()

longitude             False
latitude              False
housing_median_age    False
total_rooms           False
total_bedrooms         True
population            False
households            False
median_income         False
median_house_value    False
ocean_proximity       False
dtype: bool

In [24]:
#How many unique values does "ocean_proximity" have-> 5
df["ocean_proximity"].nunique()

5

In [57]:
#Checking for the unique elements
set(df["ocean_proximity"])

{'<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'}

In [59]:
# What's the average value of the median_house_value for the houses located near the bay?-> 206855.81690891474
df[df["ocean_proximity"] == "NEAR BAY"]["median_house_value"].mean()

259212.31179039303

In [26]:
# Calculate the average of total_bedrooms column in the dataset.
total_bed_ave = df["total_bedrooms"].mean()
print(total_bed_ave)
# Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
df["total_bedrooms"].fillna(total_bed_ave, inplace=True)
# Now, calculate the average of total_bedrooms again.
total_bed_ave = df["total_bedrooms"].mean()
print(total_bed_ave)

537.8705525375618
537.8705525375639

In [61]:
# Select only columns housing_median_age, total_rooms, total_bedrooms
t_df = df[df["ocean_proximity"] == "ISLAND"][["housing_median_age", "total_rooms", "total_bedrooms"]]
# Get the underlying NumPy array. Let's call it X
X = t_df.to_numpy()
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = np.dot(X.T, X)
#print(XTX.shape)
#Compute the inverse of XTX.
INV = np.linalg.inv(XTX)
print(INV.shape)
# Create an array y with values [950, 1300, 800, 1000, 1300].
y =  np.array([950, 1300, 800, 1000, 1300])
#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w
#print(np.dot(INV, X.T).shape)
w = np.dot(np.dot(INV, X.T),y)
w[-1]

(3, 3)

5.699229455065586